.blockquote {
	position: relative;
	max-width: 45em;

	&__content {
		font-size: $p--medium;
		line-height: $lh--large;

		@include mq(tablet) {
			font-size: $p--large;
		}
	}

	&__meta {
		display: inline-block;
		margin-top: $rel-spacing-unit--small;
		font-size: $p--small;

		@include mq(tablet) {
			font-size: $p;
		}
	}
}
