/*---

```
<blockquote class="blockquote">
	<div class="blockquote__content">
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</div>

	<cite class="blockquote__meta">Author name here, Role/department</cite>
</blockquote>
```

*/

.blockquote {
	position: relative;
	max-width: 45em;

	&__content {
		font-size: $p--medium;
		line-height: $lh--large;

		@include mq(tablet) {
			font-size: $p--large;
		}
	}

	&__meta {
		display: inline-block;
		margin-top: $rel-spacing-unit--small;
		font-size: $p--small;

		@include mq(tablet) {
			font-size: $p;
		}
	}
}
