/*

	Box sizing

*/

* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}


/*

	Basic document styling

*/

html {
	@apply min-h-full overflow-y-scroll;
	font-size: 100%;
	-webkit-text-size-adjust: none;
}

body {
	@apply bg-white text-black font-sans text-base leading-normal;
}


/*

	Text selection/highlighting

*/

@include selection {
	@apply bg-black text-white;
	text-shadow: none;
}


/*

	Vue

*/

[v-cloak] {
	@apply hidden;
}
