.icon {
	@apply
		inline-block
		w-em
		h-em
		fill-current
		align-top;

	&--inline {
		// y = line-height measurment was taken at
		// x =  how far off centre the baseline is, at `y`
		$x: 3;
		$y: 24;
		vertical-align: n($x/$y * 100%);
	}
}
