.e-input {
	@apply
		block
		w-full
		p-4
		bg-white
		border
		border-grey-500
		rounded-none
		text-black;

	&:focus {
		@apply border-grey-700;
	}

	&::placeholder {
		@apply text-grey-500;
	}

	&.is-invalid {
		@apply border-red;
	}
}

input {
	&[type=password] {
		@apply font-system;
	}
}

.e-checkbox {
	@apply sr-only;

	&:focus {
		[data-whatintent=keyboard] & {
			+ .e-checkbox-label .e-checkbox-label__icon-wrapper {
				box-shadow: 0 0 5px theme('colors.blue');
			}
		}
	}

	&:checked {
		+ .e-checkbox-label .e-checkbox-label__icon {
			transform: scale(.8);
		}
	}

	&[disabled] {
		+ .e-checkbox-label {
			@apply opacity-25 cursor-not-allowed;
		}
	}

	&.is-invalid {
		+ .e-checkbox-label .e-checkbox-label__content {
			@apply text-red;
		}
	}

	&--radio {
    	+ .e-checkbox-label .e-checkbox-label__icon-wrapper {
        	@apply rounded-50;
    	}
	}
}

.e-checkbox-label {
	@apply
		flex
		items-start;

	&__icon-wrapper {
		@apply
			flex
			justify-center
			items-center
			flex-shrink-0
			relative
			w-em
			h-em
			text-4xl
			bg-grey-300
			pointer-events-none;
	}

	&__icon {
		transform: scale(0);
		font-size: .8em;
	}

	&__content {
		@apply
			block
			ml-2;
		padding: {
			top: .1875rem;
			bottom: .1875rem;
		}
	}
}

.e-select {
	@apply block relative;

	select {
		@apply pr-12 appearance-none;
	}

	&__icon {
	    @apply absolute top-1/2 right-0 w-em h-em pointer-events-none;
	    transform: translate(-100%, -50%);
	}
}

// remove dropdown for IE11
select::-ms-expand {
	display: none;
}
