.ol,
.ul {
	@include push--sides($spacing-unit);

	> li {
		margin-top: $rel-spacing-unit--small;

		&:first-child {
			margin-top: 0;
		}
	}
}

.ol {
	list-style-type: decimal;
}

.ul {
	list-style-type: disc;
}
