//  ==========================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component dark variables (_components/_variables-dark.scss).
//  Copy and paste variables as needed, modify their values, and remove the !default flag.
//  ==========================================================================================================
// $menu-width: 18rem !default;
