//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables (_components/_variables.scss).
//  Copy and paste variables as needed, modify their values, and remove the !default flag.
//  ================================================================================================

// $menu-width: 14rem !default;
