//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding any library variables from (libs/) folder.
//  Copy and paste variables as needed, modify their values, and remove the !default flag. 
//  ================================================================================================

@import 'support';

// $flatpickr-content-padding: 0.5rem;