@mixin flush-first-item($modifierClass, $i) {
	.flush-first--#{$modifierClass}#{$i} {
		> * {
			&:nth-child(-n+#{$i}) {
				margin-top: 0;
			}
		}
	}
}

@mixin flush-first($modifier: '') {
	$modifierClass: '';

	@if $modifier != '' {
		$modifierClass: '#{$modifier}-';
	} @else {
		$modifier: 'base';
	}

	@for $i from 1 through $grid-column-count {
		@if $dev-mode {
			@include flush-first-item($modifierClass, $i);
		} @else if index( map-deep-get($grid-bp, $modifier, flush) , $i) or map-deep-get($grid-bp, $modifier, flush) == true {
			@include flush-first-item($modifierClass, $i);
		}
	}
}

@include flush-first;

@each $name, $min-width in $breakpoints {
	@include mq($name) {
		@include flush-first(#{$name});
	}
}
