@mixin visible-classes($modifier: '') {
	$baseModifierClass: '';
	$typeModifierClass: '';

	@if $modifier != '' {
		$baseModifierClass: '--#{$modifier}';
		$typeModifierClass: '-#{$modifier}';
	}

	.is-hidden#{$baseModifierClass} {
		@include hidden;
	}

	.is-visible#{$baseModifierClass} {
		@include visible;
	}

	@each $type in $visible-types {
		.is-visible-#{$typeModifierClass}-#{$type} {
			@include visible($type);
		}
	}
}

$visible-types: (
	inline,
	inline-block,
	td
);

@include visible-classes;

@each $name, $min-width in $breakpoints {
	@include mq($name) {
		@include visible-classes($name);
	}
}
