APP_NAME=Larapi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
API_NAME="${APP_NAME}"
API_VERSION=v1
API_RATE_LIMIT=60,1

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=larapi
# DB_USERNAME=root
# DB_PASSWORD=

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_TOKEN_PREFIX=
