/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env