.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__item,
	&__icon {
		margin-right: $spacing-unit--x-small;

		&:last-child {
			margin-right: 0;
		}
	}

	&__item {
		color: $c--grey;
		font-weight: $w--normal;

		&--link {
			color: $c--grey;
			font-weight: $w--bold;

			&:hover {
				color: $c--blue;
				text-decoration: underline;
			}
		}
	}

	&__icon {
		color: $c--grey;
		font-size: $p--small;
	}
}
