.copy {
	// max-width: 35em;

	> * {
		@apply mt-em;

		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		@extend .h1;
	}

	h2 {
		@extend .h2;
	}

	h3 {
		@extend .h3;
	}

	h4 {
		@extend .h4;
	}

	h5 {
		@extend .h5;
	}

	h6 {
		@extend .h6;
	}

	ol {
		@extend .ol;
	}

	ul {
		@extend .ul;
	}
}
