.e-grid {
	@mixin macro($spacing) {
		@apply -ml-#{$spacing};

		&__item {
			@apply mt-#{$spacing} pl-#{$spacing};
		}
	}
	@include macro(5);
	@apply flex flex-wrap;

	&__item {
		flex-shrink: 0;
		position: relative;
		width: 100%;
	}

	@screen md {
	    @include macro(6);
	}

	@screen xl {
	    @include macro(8);
	}
}
