.pagination {
	$block: &;
	display: flex;
	justify-content: center;

	&__item {
		display: inline-block;
		margin-left: $spacing-unit--x-small;

		&:first-child {
			margin-left: 0;
		}

		&--disabled {
			#{$block}__link {
				background-color: $c--grey-light;
				color: $c--grey;
				cursor: not-allowed;
			}
		}

		&--current {
			#{$block}__link {
				background-color: $c--brand-primary;
				color: $c--white;
			}
		}
	}

	&__link,
	&__gap {
		display: block;
		font-size: $p--small;
		line-height: 1;
	}

	&__link {
		background-color: $c--blue;
		color: $c--white;
		padding: $spacing-unit--x-small;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $c--black;
			color: $c--white;
		}
	}

	@include mq($to: tablet) {
		#{$block}__item {
			&--jump,
			&--page-end,
			&--gap {
				display: none;
			}
		}
	}
}
