.reveal {
	$block: &;

	&__wrapper {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
	}

	&__toggle {
		&:focus ~ #{$block}__label {
			[data-whatintent='keyboard'] & {
				box-shadow: 0 0 3px 1px $c--blue;
			}
		}

		&:checked ~ #{$block}__wrapper {
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}

	&--once,
	&--inline {
		#{$block}__toggle:checked ~ #{$block}__label {
			@include hidden;
		}
	}

	&--inline {
		#{$block}__wrapper {
			font-size: 0;
		}

		#{$block}__toggle:checked ~ #{$block}__wrapper {
			font-size: inherit;
		}
	}
}
