//Brand Colors
$primary: #F50045;
$secondary: #DB003E;
$header-bg-color: #FF1194;
$footer-bg-color: #000000;
$footer-color: #FFFFFF;
$background-bg-color: #00ffbb;

//Breakpoints
$breakpoint-landing-phone: 992px;
$breakpoint-landing-tablet:1550px;

//Height layouts
$header-height: 48px;
$footer-height: 60px;

//Buttons
$padding-primary-button: 0.5rem 0.8rem;
$hover-primary: #C42B55;
$border-radius: 20px;