/* 
 * My97 DatePicker 4.7 Skin:whyGreen
 */ 
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:#C5E1E4 1px solid;
	padding:2px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:1px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}

.WdateDiv #dpTitle{
	height:24px;
	padding:1px;
	border:#c5d9e8 1px solid;
	background:url(bg.jpg);
	margin-bottom:2px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#034c50;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:20px;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#BEEBEE;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#13777e;
	background-color:#bdebee;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;	
	color:#13777e;
	background-color:#edfbfb;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#74d2d9 ;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#A7E2E7;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#0099CC;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#C0EBEF;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}

.WdateDiv #dpTime input{
	height:20px;
	width:18px;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	margin-top:2px;
	border:#38B1B9 1px solid;
	background-color:#CFEBEE;
	color:#08575B;
}