
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 0px 100px;
    z-index: 1500;

    @media (max-width:$breakpoint-landing-phone) {
        padding: 15px 30px;
        height: unset;
    }
    @media (max-width:500px) {
        flex-direction: column;

    }
    &__container{
        display: flex;
        flex-direction: column;
        padding: 15px 15px;

        .cookie-consent__message {
            font-size: 22px;
            font-weight: 900;
            @media (max-width:$breakpoint-landing-phone) {
                font-size: 18px;
            }

            &-subtitle{
                font-size: 18px;
                font-weight: normal;
                @media (max-width:$breakpoint-landing-phone) {
                    font-size: 14px;
                }
            }
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        button,a{
            margin: 10px 10px;
        }
        @media (max-width:$breakpoint-landing-phone) {
            flex-direction: column;
            button,a{
                margin: 10px 10px;
            }
        }
    }
}


