html {
	@apply text-full;
	-webkit-text-size-adjust: none;
}

body {
	@apply bg-white text-black font-body text-base leading-normal;
}

[v-cloak] {
	@apply hidden;
}

[disabled]:not([disabled="false"]) {
	@apply opacity-25 shadow-none cursor-not-allowed select-none;
}

::selection {
	@apply bg-black text-white;
	text-shadow: none;
}

*:focus,
button:focus {
	@apply outline-none;
}

/* focus-visible split out (thanks Safari) */
*:focus-visible {
	&,
	~ .e-focus-sibling {
		@apply ring-2 ring-focus;
	}
}

*:focus {
	&,
	~ .e-focus-sibling {
		/* should match above (thanks Safari) */
		@apply ring-2 ring-focus;
	}


	&:not(:focus-visible) {
		&,
		~ .e-focus-sibling {
			@apply ring-0;
		}
	}
}
