@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'utility/mixins';
@import 'utility/fonts';
@import 'utility/animations';

@import 'core/document';
@import 'core/typography';
@import 'core/anchor';
@import 'core/button';
@import 'core/input';
@import 'core/list';

@import 'block/container';
@import 'block/copy';
@import 'block/grid';
@import 'block/placeholder';

@import 'tailwindcss/utilities';

@import 'utility/print';
