/*---

Used to scope generated content blocks, adding typography styles to elements without classes:

```
<article class="copy">
	<h1>Heading 1</h1>

	<p>Nobis, accusamus, velit, laudantium illum minima a <a href="#0">perferendis ducimus</a> ratione aliquid tempore ea magnam unde voluptatem saepe impedit itaque corrupti officia reiciendis?</p>

	<figure class="media">
		<div class="placeholder">
			<img src="//placehold.it/1600x900" alt="Image alt text">
		</div>
	</figure>

	<p>Nobis, accusamus, velit, laudantium illum minima a <a href="#0">perferendis ducimus</a> ratione aliquid tempore ea magnam unde voluptatem saepe impedit itaque corrupti officia reiciendis?</p>

	<h2>Heading 2</h2>

	<p>Nobis, accusamus, velit, <a href="#0">laudantium</a> illum minima a perferendis ducimus ratione aliquid tempore ea magnam unde voluptatem saepe impedit itaque corrupti officia reiciendis?</p>

	<h3>Heading 3</h3>

	<p>Nobis, accusamus, velit, laudantium illum minima a perferendis ducimus ratione aliquid tempore ea magnam unde voluptatem saepe impedit itaque <a href="#0">corrupti officia</a> reiciendis?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus illum similique, vitae consequuntur aperiam, commodi reiciendis nemo nulla repellat autem saepe adipisci, porro aliquam molestias laborum totam temporibus eaque mollitia.</p>

	<h2>Heading 2</h2>

	<h3>Heading 3</h3>

	<p>Nobis, accusamus, velit, laudantium illum minima a perferendis ducimus ratione aliquid tempore ea magnam unde voluptatem saepe impedit itaque <a href="#0">corrupti officia</a> reiciendis?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus illum similique, vitae consequuntur aperiam, commodi reiciendis nemo nulla repellat autem saepe adipisci, porro aliquam molestias laborum totam temporibus eaque mollitia.</p>

	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		<li>Culpa, perspiciatis, consectetur architecto debitis reprehenderit.</li>
		<li>Ratione fugit placeat eius impedit velit soluta eveniet quaerat!</li>
		<li>Incidunt, eaque optio fugit iusto atque necessitatibus unde debitis.</li>
		<li>Cum, dignissimos ad vel tempore quam quod delectus eaque quaerat!</li>
	</ul>

	<figure class="media media--right">
		<div class="placeholder placeholder--square">
			<img src="//placehold.it/400" alt="Image alt text">
		</div>
	</figure>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ducimus odit sunt dolore, ex porro autem, vel molestias nemo itaque velit ab! Laudantium consectetur ab labore, optio voluptates ipsam quo?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro, suscipit nemo eum illo, culpa officia quia excepturi quod. Maxime eius perferendis magni deserunt molestiae facere temporibus dicta tempore sunt!</p>

	<p>Ipsa quasi labore adipisci amet quia beatae velit reiciendis, id quaerat. Explicabo dolores dignissimos sed corporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porro.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro, suscipit nemo eum illo, culpa officia quia excepturi quod. Maxime eius perferendis magni deserunt molestiae facere temporibus dicta tempore sunt!</p>

	<p>Ipsa quasi labore adipisci amet quia beatae velit reiciendis, id quaerat. Explicabo dolores dignissimos sed corporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porroorporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porro.</p>

	<figure class="media media--left">
		<div class="placeholder placeholder--square">
			<img src="//placehold.it/400" alt="Image alt text">
		</div>
	</figure>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ducimus odit sunt dolore, ex porro autem, vel molestias nemo itaque velit ab! Laudantium consectetur ab labore, optio voluptates ipsam quo?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro, suscipit nemo eum illo, culpa officia quia excepturi quod. Maxime eius perferendis magni deserunt molestiae facere temporibus dicta tempore sunt!</p>

	<p>Ipsa quasi labore adipisci amet quia beatae velit reiciendis, id quaerat. Explicabo dolores dignissimos sed corporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porro.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro, suscipit nemo eum illo, culpa officia quia excepturi quod. Maxime eius perferendis magni deserunt molestiae facere temporibus dicta tempore sunt!</p>

	<p>Ipsa quasi labore adipisci amet quia beatae velit reiciendis, id quaerat. Explicabo dolores dignissimos sed corporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. rporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porro.</p>

	<figure class="media media--centre">
		<div class="placeholder placeholder--square">
			<img src="//placehold.it/400" alt="Image alt text">
		</div>

		<figcaption>Lorem ipsum dolor sit amet</figcaption>
	</figure>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur ducimus odit sunt dolore, ex porro autem, vel molestias nemo itaque velit ab! Laudantium consectetur ab labore, optio voluptates ipsam quo?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro, suscipit nemo eum illo, culpa officia quia excepturi quod. Maxime eius perferendis magni deserunt molestiae facere temporibus dicta tempore sunt!</p>

	<blockquote class="blockquote blockquote--centre">
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

		<cite class="blockquote__meta">Author name here, Role/department</cite>
	</blockquote>

	<p>Ipsa quasi labore adipisci amet quia beatae velit reiciendis, id quaerat. Explicabo dolores dignissimos sed corporis quidem aperiam vitae provident modi atque quis, nisi laboriosam! Ipsam, eos suscipit. Nostrum, porro.</p>
</article>
```

*/

.copy {
	max-width: 35em;

	> *:first-child {
		margin-top: 0;
	}

	h1 {
		@extend .h1;
	}

	h2 {
		@extend .h2;
	}

	h3 {
		@extend .h3;
	}

	h4 {
		@extend .h4;
	}

	h5 {
		@extend .h5;
	}

	h6 {
		@extend .h6;
	}

	ol {
		@extend .ol;
	}

	ul {
		@extend .ul;
	}
}
