/*---

## Toggle

```
<div class="reveal">
	<input class="vh reveal__toggle" type="checkbox" id="target-1" value="">

	<label class="a reveal__label" for="target-1">Click to toggle</label>

	<div class="reveal__wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
	</div>
</div>
```

## Show

```
<div class="reveal reveal--once">
	<input class="vh reveal__toggle" type="checkbox" id="target-2" value="">

	<label class="a reveal__label" for="target-2">Click to show</label>

	<div class="reveal__wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
	</div>
</div>
```

## Show more

```
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.

	<span class="reveal reveal--inline">
		<input class="vh reveal__toggle" type="checkbox" id="more" value="">

		<span class="reveal__wrapper">
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</span>

		<label class="a reveal__label" for="more">Show more</label>
	</span>
</p>
```

## Accordion

### Expand Any

```
<ul>
	<li class="reveal">
		<input class="vh reveal__toggle" type="checkbox" id="faq-2-1" value="">

		<label class="a reveal__label" for="faq-2-1">Question 1</label>

		<div class="reveal__wrapper">
			<p>Answer 1</p>
		</div>
	</li>

	<li class="reveal">
		<input class="vh reveal__toggle" type="checkbox" id="faq-2-2" value="">

		<label class="a reveal__label" for="faq-2-2">Question 2</label>

		<div class="reveal__wrapper">
			<p>Answer 2</p>
		</div>
	</li>

	<li class="reveal">
		<input class="vh reveal__toggle" type="checkbox" id="faq-2-3" value="">

		<label class="a reveal__label" for="faq-2-3">Question 3</label>

		<div class="reveal__wrapper">
			<p>Answer 3</p>
		</div>
	</li>
</ul>
```

### Expand Single

```
<ul>
	<li class="reveal">
		<input class="vh reveal__toggle" type="radio" id="faq-1" name="faq" value="">

		<label class="a reveal__label" for="faq-1">Question 1</label>

		<div class="reveal__wrapper">
			<p>Answer 1</p>
		</div>
	</li>

	<li class="reveal">
		<input class="vh reveal__toggle" type="radio" id="faq-2" name="faq" value="">

		<label class="a reveal__label" for="faq-2">Question 2</label>

		<div class="reveal__wrapper">
			<p>Answer 2</p>
		</div>
	</li>

	<li class="reveal">
		<input class="vh reveal__toggle" type="radio" id="faq-3" name="faq" value="">

		<label class="a reveal__label" for="faq-3">Question 3</label>

		<div class="reveal__wrapper">
			<p>Answer 3</p>
		</div>
	</li>
</ul>
```

*/

.reveal {
	$block: &;

	&__wrapper {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
	}

	&__toggle {
		&:focus ~ #{$block}__label {
			[data-whatintent='keyboard'] & {
				box-shadow: 0 0 3px 1px $c--blue;
			}
		}

		&:checked ~ #{$block}__wrapper {
			height: auto;
			visibility: visible;
			opacity: 1;
		}
	}

	&--once,
	&--inline {
		#{$block}__toggle:checked ~ #{$block}__label {
			@include hidden;
		}
	}

	&--inline {
		#{$block}__wrapper {
			font-size: 0;
		}

		#{$block}__toggle:checked ~ #{$block}__wrapper {
			font-size: inherit;
		}
	}
}
