@import url(https://fonts.googleapis.com/css?family=Lato:100);

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';

    .container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;

        .content {
            text-align: center;
            display: inline-block;

            .title {
                font-size: 96px;
            }
        }
    }
}
