.jumbotron {
	background: $primary;
	color: lighten($primary, 35%);
	margin-top: -20px;
}

.jumbotron__header,
.jumbotron h1 {
	font-weight: bold;
	color: white;
	margin-top: 0;
}

.jumbotron__body {
	max-width: 80%;
	margin-bottom: 0;
	line-height: 1.6em;
}
