/* @font-face {
	font-family: 'custom-body';
	src: url('/static/fonts/filename.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'custom-body';
	src: url('/static/fonts/filename.woff2') format('woff2');
	font-display: swap;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'custom-body';
	src: url('/static/fonts/filename.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'custom-body';
	src: url('/static/fonts/filename.woff2') format('woff2');
	font-display: swap;
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'custom-heading';
	src: url('/static/fonts/filename.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
} */
