$choices-box-shadow: $dropdown-box-shadow !default;
$choices-border-radius: .5rem !default;
$choices-animation: .3s cubic-bezier(.23,1,.32,1) !default;
$choices-transition: $dropdown-transition !default;
$choices-transform: scale(.95) !important !default;
$choices-transform-show: scale(1) !important !default;
$choices-padding-y: 1rem !default;
$choices-padding-x: .5rem !default;
